{% extends 'base.html' %}

{% block content %}

<h1>Viajes disponibles</h1>

{% for viaje in lista_viajes %}
    <div class="card" style="width: 18rem; margin-left:30rem">
        <img src="https://cdn.getyourguide.com/img/tour/5d270e86b3e53.jpeg/146/Desde-Salta--excursi-n-de-d-a-completo-a-Humahuaca.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{viaje.destino}}</h5>
        <p class="card-text">Fecha llegada: {{viaje.fecha_regreso}}</p>
        <p class="card-text">Fecha salida: {{viaje.fecha_salida}}</p>
        <a href="#" class="btn btn-primary">Precio ${{viaje.precio}}</a>
        </div>
    </div>

    {% endfor %}

{% endblock %}